<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.online.update</id>
    <name><![CDATA[更新升级]]></name>
    <active>no</active>
    <version>2.2</version>
    <env-version>8.0</env-version>
    <jartime>2015-10-29</jartime>
    <vendor>finereport.zhouping</vendor>
    <description><![CDATA[可以使用该插件进行在线升级，无需自己去替换各种jar包，一键完成，并会将老的jar包按日期备份至安装目录下，可以随时替换回老版本。新增了版本升级功能，改进了界面，新增了还原功能。]]></description>
    <change-notes><![CDATA[[2015-09-30]新增了版本升级功能，改进了界面，新增了还原功能,<br />
    [2015-10-19]解决了jdk1.7不能使用的重大BUG,<br />
    [2016-01-11]加入功能点记录,<br />]]></change-notes>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.update.UpdateLocaleFinder"/>
    </extra-core>
    <extra-report/>
    <extra-designer>
        <MenuHandler class="com.fr.plugin.update.UpdateMenuHandler"/>
    </extra-designer>
</plugin>