<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.widget.ztree</id>
    <name><![CDATA[急速下拉树控件]]></name>
    <active>yes</active>
    <version>7.0</version>
    <env-version>8.0</env-version>
    <jartime>2016-03-20</jartime>
    <vendor>solution.richie</vendor>
    <price>1000</price>
    <description><![CDATA[ztree实现的下拉树控件,仅支持在参数界面和表单中使用]]></description>
    <change-notes><![CDATA[
        <p>[2015-12-02]完善反馈信息</p>
        <p>[2015-12-09]修复点击滚动条会导致下拉菜单消失的问题</p>
        <p>[2015-12-09]修复插件在tomcat服务器下无法使用的问题</p>
        <p>[2015-12-10]级联选择的时候,会自动加载所有的子孙节点</p>
        <p>[2015-12-10]修复级联选择的时候,没有选择父亲节点只是也会加载孙子节点的问题</p>
        <p>[2015-12-10]增加级联选项,可以选择不级联,级联到子节点,级联到所有节点</p>
        <p>[2015-12-11]增加弹出层高度设置属性;弹出层宽度跟随控件宽度</p>
        <p>[2016-01-15]修正弹出层会被图表遮住无法选择的问题</p>
        <p>[2016-03-20]修复了超级大bug</p>
    ]]></change-notes>
    <extra-core>
        <LocaleFinder class="com.fr.plugin.widget.ztree.ZTreeLocaleFinder"/>
        <CssFileHandler class="com.fr.plugin.widget.ztree.CssFileLoader"/>
    </extra-core>
    <extra-report>
        <JavaScriptFileHandler class="com.fr.plugin.widget.ztree.JavaScriptFileLoader"/>
    </extra-report>
    <extra-platform/>
    <extra-designer>
        <ParameterWidgetOptionProvider class="com.fr.plugin.widget.ztree.core.ZTreeMarkInForm"/>
        <FormWidgetOptionProvider class="com.fr.plugin.widget.ztree.core.ZTreeMarkInForm"/>
    </extra-designer>
</plugin>